<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/inscription.css" />
  </head>
  <body>
   
    <form class="card" method="post" action="/">

      <!-- <div class="croix">
        <a href="/indexs"
          ><img
            src="/images/ferme1.png"
            alt=""
            style="filter: invert(); width: 40px; height: 40px"
        /></a>
      </div> -->
      <div class="cards">
        <h1 style="color: white;">Inscription</h1>
        <% if ( typeof vv !== "undefined" && vv ) { %>
          <p><%= vv %></p>
          <% } %>
        <p style="margin-bottom: 30px" class="pp">
         
          <input type="text" name="name" id="name" placeholder="Name" required />
        </p>
        <p style="margin-bottom: 30px" class="pp">
          
          <input type="email" name="email" id="email" placeholder="E-mail" required />
        </p>
        <p style="margin-bottom: 10px" class="pp">
          
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
        </p>
        
          <input
            type="hidden"
            name="statut"
            id="statut"
            value="C"
            
          />
       
        
        <span style="color: #191970;">Vous avez deja un compte? <a href="/connexion" style="color:#800000;">Se Connecter</a></span>
        <p style="margin-top: 30px">
          <input class="btn" type="submit" value="créer un compte"
          />
        </p>
      </div>
    </form>
    
   
  </body>
</html>
